<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neartab">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Beacon -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Camera & Gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Near_Search"></activity>
        <activity android:name=".Near_Tourist"></activity>
        <activity android:name=".TripTalkBoard"></activity>
        <activity android:name=".TripTalkView"></activity>
        <activity android:name=".SNSView"></activity>
        <activity android:name=".NearFacilityView"></activity>
        <activity android:name=".TripTalkUserView"></activity>
        <activity android:name=".UserInfoView"></activity>
        <activity android:name=".Near_Location">?</activity>
        <service
            android:name=".GPSBackgroundService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/AK_LOGIN_PROTOCOL_SCHEME" />
            </intent-filter>
        </activity><!-- Beacon -->
        <service android:name="com.minew.beacon.ScanService" />
        <receiver android:name="com.minew.beacon.BluetoothChangedReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="com.nslb.twipee.MyStepService"/>
            </intent-filter>
        </receiver>



    </application>

</manifest>